body {
    font-family: sans-serif;
    margin: 20px;
  }
  .game-info {
    position:absolute;
  }


  .board-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
  }

  .container {
    position: absolute;
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
  }

  .level {
    border: 1px solid #333;
    padding: 5px;
  }

  .level-title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }

  .row {
    display: flex;
  }

  .square {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
  }

  .square:hover {
    background-color: #ffffe0;
  }

  .selected {
    background-color: yellow !important;
  }

  .possible-move {
    background-color: #90EE90 !important;
    /* 移動先候補の緑ハイライト */
  }

  .controls {
    margin-bottom: 10px;
  }
